body {
  font: 12px sans-serif;
}

h4 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

svg {
  font: 12px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 50px;
}

.line path {
  fill: none;
  stroke-width: 0;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill:none;
  stroke: #cfcfcf;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.labels {
  font-size: 12px;
  color: #666;
}

.labels-ratings {
  font-weight: 200;
}

select.form-control {
  color: #fff;
}

select.class-1 { 	background-color: #e41a1c; }
select.class-2 { 	background-color: #377eb8; }
select.class-3 {	background-color: #4daf4a; }

.class-1 path {  stroke: #e41a1c; fill: none; }
.class-2 path {  stroke: #377eb8; fill: none; }
.class-3 path {  stroke: #4daf4a; fill: none; }

.class-1 circle {  fill: #e41a1c; }
.class-2 circle {  fill: #377eb8; }
.class-3 circle {  fill: #4daf4a; }
